spring:
  application:
    name: project-flow-backend

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/projectflow}
    username: ${SPRING_DATASOURCE_USERNAME:alaabo}
    password: ${SPRING_DATASOURCE_PASSWORD:alaabo}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: ${SERVER_PORT:8080}
  error:
    include-message: never
    include-binding-errors: never

logging:
  level:
    root: info
    dz.corepulse.projectflow: debug

---
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    show-sql: true
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/projectflow_dev}
